//###################################################
// Image Text scss
//###################################################

.image-text {
  // Tablet P and Down
  @media (max-width: $sm) {
    padding-top: 24px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;

    // Tablet P and Down
    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }

    //###################################################

    &:nth-child(even) {
      .image-text__text {
        order: -1;

        // Desktop Lg and Down
        @media (max-width: $lg) {
          padding-right: 30px;
          padding-left: 0;
        }

        // Tablet P and Down
        @media (max-width: $sm) {
          order: initial;
          padding: 30px 0;
        }
      }

      //###################################################

      .image-text__image-inner {
        left: 0;
        right: initial;
      }
    }

    //###################################################

    &:hover {
      .image-text__image img {
        transform: scale(1.04);
      }
    }
  }

  //###################################################

  &__image {
    position: relative;
    height: 0;
    padding-bottom: 70%;

    // Tablet P and Down
    @media (max-width: $sm) {
      padding-bottom: 56.24%;
      border-radius: 10px;
      overflow: hidden;
    }

    //###################################################

    &-inner {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 50vw;
      top: 0;
      right: 0;

      @media (max-width: $sm) {
        left: 0;
        right: initial;
        width: 100%;
      }
      //###################################################

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }

  //###################################################

  &__text {
    padding: 80px;

    // Lg and Down
    @media (max-width: $lg) {
      padding: 30px 0 30px 30px;
    }

    // Tablet P and Down
    @media (max-width: $sm) {
      padding: 30px 0;
    }
  }
}
